@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
    /* text-align: center; */
}

.purple {
    color: orchid;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 34.5px;

}

h2 {
    /* text-align: center; */
    font-size: 36px;
    margin-bottom: 32px;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1000px;
    width: 100vw;
    margin: 0 auto;
    padding: 80px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    min-height: 100vw;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    border-style: none;
}

button:active {
    transform: translateY(1px);
}


ul {
    display: flex;
}

li {
    list-style-type: none;
}

/* NAV */

nav {
    padding: 20px;
}

.nav__logo {
    font-size: 25px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.nav__Treact {
    color: orchid;
}

.nav__logo:hover {
    text-decoration: none;
}

.logo {
    width: 15%;
    padding-right: 5px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.nav__links {
    display: flex;
    list-style: none;
}

.nav__link {
    padding: 8px;
    margin-left: 16px;
    font-size: 20px;
    color: orchid;
    font-weight: 450;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border-radius: 20px;
    padding: 8px 18px;
    background-color: orchid;
    color: white;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.wait {
    display: flex;
    padding-left: 40px;
}

#landing {
    background-color: white;
}

/*    MAIN   */




.container-main {
    display: flex;
}

.row__main {
    display: flex;
}

.main__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h1__main {
    letter-spacing: .1em;
    font-size: 50px;
}

.p__main {
    padding: 20px;
    padding-bottom: 16px;
    font-weight: 400;
    color: grey;
    margin: 15px;
    font-size: 20px;
}

.h2__main {
    font-size: 18px;
    color: orchid;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.1em;
    margin-top: 40px;
}

.main__input {
    margin: 15px;
    margin-top: 20px;
}

.input__main {
    border-radius: 40px;
    border-color: orchid;
    padding: 20px 150px 20px 35px;
    font-size: 14px;
    font-weight: 500;
    transition: all 300ms ease-in;
}

.input__main:hover {
    border-color: blueviolet;
}

.btn__main {
    padding: 20px 35px;
    border-radius: 40px;
    background-color: orchid;
    color: white;
    font-weight: 500;
    transition: background-color 300ms;
}

.btn__main:hover {
    background-color: purple;
}


.main__img {
    padding: 20px;
}

.main__img2 {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    transform: scale(1.1);
    margin-top: 25px;
}


/* SERVICES */



.features__title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 18px;
    letter-spacing: 0.1em;
}

.section__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
    letter-spacing: .1em;
}

.section__para {
    padding: 10px;
    font-size: 18px;
    padding-bottom: 25px;
    color: gray;
    font-weight: 400;
    max-width: 700px;
    width: 100%;
    text-align: center;
    line-height: 2;
}

.roww {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.service__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.service {
    padding: 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service--1 {
    display: flex;
    align-items: center;
    text-align: center;
}

.service__para {
    text-align: center;
    max-width: 280px;
    color: rgb(126, 123, 123);
    font-weight: 500;
    line-height: 2;
    margin: 0px 10px;
}

.service__img {
    border: 1px solid rgb(233, 197, 228);
    color: orchid;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 24px;
}

.service__subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    padding-left: 10px;
}

/* QUALITY WORK */

.quality__header {
    font-size: 49px;
    margin: 40px 0;
    text-align: center;
    letter-spacing: .1em;
}

.quality__para {
    margin: 25px 0;
    font-size: 20px;
    font-weight: 400;
}

.container--fuck {
    display: flex;
    flex-direction: column;
}

.row--fuck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fuck {
    max-width: 50%;
    text-align: center;
}

.quality__img--container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    transform: scale(.9);
}

.quality__btn {
    padding: 18px 45px;
    margin: 40px 10px;
    overflow: hidden;
    border-radius: 30px;
    background-color: orchid;
    color: white;
    font-size: 16px;
    border: none;
    transition: background-color 300ms;
}

.quality__btn:hover {
    background-color: purple;
}

.quality__img {
    padding: 20px;
    margin-left: 30px;
}


/*      GET STARTED (gs)      */


.gs__row {
    display: flex;
}

.gs__img--wrapper {
    width: 50%;
    padding: 5px;
    margin: 5px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gs__img {
    padding: 10px;
    margin: 10px;
    padding-right: 20px;
}

.gs__steps {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.gs--h3 {
    padding-bottom: 18px;
    letter-spacing: .18em;
    font-size: 20px;
}

.gs--h2 {
    letter-spacing: .1em;
    width: 300px;
    font-size: 45px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
}

.step {
    padding-bottom: 20px;
    display: flex;
}

.step__number {
    opacity: 40%;
    font-size: 33px;
    font-weight: bold;
    padding-right: 20px;
    display: flex;
}

.gs__subtitle {
    color: orchid;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}

.gs__para {
    font-size: 18px;
    font-weight: 350;
    padding-bottom: 20px;
}


/*     VALUES     */



.v__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__left {
    display: flex;
    justify-content: center;
    width: 50%;
}

.values--h3 {
    letter-spacing: .1em;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.values--h2 {
    font-size: 50px;
    font-weight: bold;
    max-width: 400px;
    margin-bottom: 38px;
}

.values--para {
    font-size: 20px;
    font-weight: 400;
    color: rgb(82, 77, 77);
    margin-bottom: 25px;
}

.values--column2 {
    display: flex;
    padding-top: 25px;
}

.values__c2-1 {
    padding-right: 18px;
}

.v--c2-1 {
    display: flex;
}

.fa-dollar-sign {
    border-radius: 40px;
    color: white;
    background-color: green;
    font-size: 25px;
    padding: 9px 14px;
}

.v--span {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
}

.values__c2-2 {
    padding-left: 20px;
}

.v--c2-2 {
    display: flex;
}

.fa-briefcase {
    border-radius: 60px;
    color: white;
    background-color: orchid;
    font-size: 23px;
    padding: 10px 11px;
}

.values--para2 {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(82, 77, 77);
}

.v--btn {
    font-size: 15px;
    margin-top: 45px;
    background-color: orchid;
    color: white;
    border-radius: 50px;
    overflow: hidden;
    padding: 15px 25px;
    font-weight: 500;
    letter-spacing: .03em;
    transition: background-color 300ms;
}

.v--btn:hover {
    background-color: purple;
}

.v__img--wrapper {
    width: 50%;
    margin: 10px;
    padding: 5px;
}

/*          PRICING          */


.pricing--intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h3--title {
    letter-spacing: .12em;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.h1--title {
    font-size: 50px;
    letter-spacing: .05em;
    font-weight: bold;
    margin-bottom: 38px;
    text-align: center;
}

.pricing__para,
.faq__para {
    font-size: 19px;
    max-width: 600px;
    color: rgb(82, 77, 77);
    text-align: center;
    display: flex;
    padding-bottom: 50px;
}

.price__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cont {
    width: calc(100%/3);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin: 5px;
}


.price__box {
    display: inline-block;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(229, 229, 229);
    padding: 25px 20px;
    line-height: 1.7;

}

/* .price-height {
    height: 300px;
} */


.price--title {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .02em;
}

.price {
    font-size: 40px;
    font-weight: bold;
}

.monthly {
    font-size: 19px;
    font-weight: 500;
    color: rgb(82, 77, 77);
}

.price__item {
    font-size: 16px;
    font-weight: 450;
    color: rgb(82, 77, 77);
    line-height: 2.7;
}

.price__btn {
    border: 1px solid rgb(229, 229, 229);
    line-height: 2;
    padding: 25px 10px;
}


.p__btn {
    padding: 15px 35px;
    background-color: orchid;
    color: white;
    font-size: 16px;
    border-radius: 30px;
}

.p__btn-2 {
    padding: 15px 35px;
    background-color: white;
    color: orchid;
    font-size: 16px;
    border-radius: 30px;
}

.p__btn,
.p__btn-2 {
    transition: background-color 300ms ease
}

.p__btn-2 {
    transition: color 300ms ease
}

.p__btn:hover {
    background-color: purple;
}

.p__btn-2:hover {
    background-color: rgb(157, 72, 157);
    color: white;
}

.pb--radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pb--radius-2 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pb-color {
    background-color: orchid;
    color: white;
}

.text-white {
    color: white;
}

.pb1 {
    border-top-color: aqua;
    border-top-width: 13px;
}

.pb2 {
    border-top-color: orchid;
    border-top-width: 13px;
}

.pb3 {
    border-top-color: coral;
    border-top-width: 13px;
}

/*.pb3 {
background:linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}*/

.pb-2 {
    background: linear-gradient(115deg, orchid 0%, rgb(254, 178, 178) 100%);
}

/*    TESTIMONIALS     */


.test--intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-2,
.test-1 {
    width: calc(100%/2);
}

.test-1 {
    padding: 5px;
    margin: 10px;
}

.test-2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.test__column--top {
    margin: 5px;
}

.test__img--wrapper {
    padding: 5px;
    margin: 5px;
}

.test--img .test--h1 {
    font-size: 50px;
    padding-bottom: 15px;
}

.test--para {
    font-size: 16px;
    font-weight: 500;
    color: gray;
    padding-top: 15px;
}

.test--para-2 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(82, 77, 77);
    padding: 15px 0px;
}

.test--stars {
    color: rgb(248, 191, 57);
    padding: 13px 0;
    margin-top: 20px;
}

.test--h3 {
    font-size: 22px;
    font-weight: 450;
    padding-bottom: 10px;
}

.test__column--bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.test__bio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test--bio {
    padding: 20px;
    margin-left: 10px;
    line-height: 1.45em;
}


.test__h4 {
    color: black;
    font-weight: 300;
    font-size: 24px;
}

.test__h4-2 {
    color: gray;
    font-size: 18px;
    padding-top: 5px;
    font-weight: 270;
}

.test__img--wrapper-2 {
    width: 100%;
    max-width: 80px;
}

.test--img-2 {
    border-radius: 180px;
    width: 80px;
    height: 80px;
    overflow: hidden;
}



.test--arrows {
    display: flex;
    justify-content: center;
    align-items: center;

}


.test__arrows {
    display: flex;
    scale: 2.1;
    padding: 1px;
    margin: 1px;

}


.fa-arrow {
    font-size: 7px;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(241, 241, 241);
    color: rgb(136, 67, 134);

}

.divider {
    border: 0.5px rgb(241, 241, 241) solid;
    margin: px;
    scale: .5;
}

/*                 FAQs                 */

.faq__row {
    background-color: rgb(250, 242, 242);
    padding: 70px 20px;
    border-radius: 15px;
}

.faq__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__text {
    border: 1px solid orchid;
    border-radius: 10px;
    padding: 10px 15px;

}

.faq__btn {
    border-radius: 10px;
    font-size: 15px;
    color: orchid;
    background-color: rgb(242, 234, 234);
    padding: 10px 15px;
    margin-left: 10px;
}

/*               BOTTOM                  */

.bottom__row {
    background-color: rgb(221, 164, 221);
    padding: 50px 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h2__bottom {
    color: rgb(77, 45, 77);
    font-size: 30px;
    margin-top: 32px;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.bottom__btn {
    padding: 30px;
    margin: 20px;
}

.btn__bottom {
    padding: 15px 30px;
    border-radius: 20px;
    color: rgb(150, 26, 150);
    background-color: rgb(240, 231, 231);
    font-size: 20px;
    margin: 10px;
}

/*              FOOTER             */


#footer {
    background-color: orchid;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.h3__link {
    color: rgb(82, 78, 78);
    padding-bottom: 20px;
}

.ind__link {
    color: white;
    padding-bottom: 10px;
}

.line {
    border: .5px solid rgb(226, 218, 218);
    margin: 45px 0px;
}

.footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.footer__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__Treact {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.footer__disclaimer {
    font-size: 12px;
    font-weight: 500;
    color: white;
}


.fa-brands {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(68, 66, 66);
    border-radius: 20px;
    background-color: aliceblue;
}


/* RESPONSIVE */

@media (max-width: 999px) {

    .row {
        flex-direction: column;
    }
    .logo {
        width: 12%
    }
    .nav__Treact {
        font-size: 19px;
    }
    .nav__link {
        padding: 5px;
        margin-left: 3px;
        font-size: 16px;
    }
    .main--left {
        padding: 5px;
    }
    .main__input {
        text-align: center;
    }
    .btn__main {
        margin-top: 10px;
    }
    .h2__main {
        margin-top: 20px;
    }
    .fuck {
        padding:20px;
    }
    .quality__btn {
        margin: 10px;
    }
    .quality__img {
        margin: 10px;
        width: 100%;
    }
    .gs__row {
        align-items: center;
        flex-direction: column-reverse;
    }
    .v__left {
        padding: 10px;
        margin: 10px;
    }
    .v-img {
        width: 40%;
        margin-left: 10px;
    }
    .cont {
        max-width: 30%;
    }
    .footer__Treact {
        font-size: 20px;
    }
    .footer__social {
        font-size: 14px;
    }
    .fa-brands {
        padding: 4px;
        margin: 4px;
        border: 1px solid rgb(68, 66, 66);
        border-radius: 20px;
        background-color: aliceblue;
    }
    .test__arrows {
        display: block;
    }
}

@media (max-width: 900px) {
.price-height {
    height: 300px;
}
.quality__img{
    justify-content: center;
    align-items: center;
}
.gs__img--wrapper{
    margin-right: 5px;
}
.gs__img{
    padding: 10px;
}
.test__arrows {
    display: block;
}
}

@media (max-width:780px) {
    .quality__img {
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
    .test__arrows {
        display: block;
    }
    .test--img-2 {
        padding: 5px;
    }
    .nav__link {
        font-size: 14px;
    }
    .wait {
        padding-left: 20px;
    }
    .margin_h2 {
        margin: 5px;
    }
    .margin_price {
        margin: 5px;
    }
}
@media (max-width:580px) {
    .test__arrows {
        display: block;
    }
    .price-height {
        height: 426px;
    }
    .customizable {
        font-size: 18px;
    }
    .service__subtitle {
        font-size: 16px;
    }
    .support {
        padding: 0px 15px;
    }
    .quality__header {
        font-size: 40px;
    }
    .quality__img {
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }
    .nav__go {
        display: none;
    }
}

/*  */